/gerber/2-relay-over-io-B.Cu.gbr
/gerber/2-relay-over-io-B.Mask.gbr
/gerber/2-relay-over-io-B.Paste.gbr
/gerber/2-relay-over-io-B.SilkS.gbr
/gerber/2-relay-over-io-Edge.Cuts.gbr
/gerber/2-relay-over-io-F.Cu.gbr
/gerber/2-relay-over-io-F.Mask.gbr
/gerber/2-relay-over-io-F.Paste.gbr
/gerber/2-relay-over-io-F.SilkS.gbr
/gerber/2-relay-over-io-NPTH.drl
/gerber/2-relay-over-io-PTH.drl
/gerber/gerber.zip
/schematic/2-relay-over-io.kicad_pcb-bak
/schematic/2-relay-over-io.bak
/schematic/2-relay-over-io-cache.lib
